name: Push-to-EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the files
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SERVIDOR_AULA }}" > ~/.ssh/deploy_key
        chmod 600 ~/.ssh/deploy_key
        ssh-keyscan -H ec2-107-23-129-213.compute-1.amazonaws.com >> ~/.ssh/known_hosts

    - name: Debug SSH setup
      run: |
        ls -la ~/.ssh
        cat ~/.ssh/known_hosts

    - name: Copiar arquivos com SSH
      run: |
        rsync -rltgoDzvO --delete -e "ssh -i ~/.ssh/deploy_key -o StrictHostKeyChecking=no" ./ ubuntu@ec2-107-23-129-213.compute-1.amazonaws.com:/
